In [83]:
#[A]:「税抜価格」をユーザーから取得し、数値に変換する
tax_excluded_price=float(input("税抜価格を入力してください:"))

#[B]:「税込価格」を計算する
tax_rate=0.10
tax_included_price=(tax_excluded_price*(1+tax_rate))

# [C]、[D]: 送料の計算（2000円以上かどうかを判定して分岐する）
if tax_included_price >= 2000:
    shipping_cost=0
    print("送料は無料です")
else:
    shipping_cost=350
    print(f"送料は{shipping_cost}円です")

# [E]: 送料込税込価格を計算して、変数に代入する
total_price=(tax_included_price+shipping_cost)

print(f"送料込税込価格は{total_price:.0f}円です")

送料は無料です
送料込税込価格は3300円です

In [62]:
import random
print(random.randint(1,10))

my_list=[1,2,3,4,5]
random.shuffle(my_list)
print(my_list)
print(random.choice(my_list))

7
[2, 4, 3, 1, 5]
3

In [51]:
from math import sqrt,pi
print(pi)

3.141592653589793

In [52]:
import datetime
now=datetime.datetime.now()
print("現在の日時",now)

現在の日時 2025-04-09 13:35:29.586295

In [45]:
import datetime as dt
now=dt.datetime.now()
print("現在の日時",now)

現在の日時 2025-04-09 13:24:42.824586

In [44]:
import math
print(math.sqrt(16))

4.0

In [40]:
is_palindrome("udon")
def is_palindrome(s):
    if s == s[::-1]:
        print(f"「{s}」は回文です！")
    else:
        print(f"「{s}」は回文ではないです。")

「udon」は回文ではないです。

In [37]:
is_palindrome="にんてんどううどんてんに"
def is_palindrome(s):
    if s == s[::-1]:
        print(f"「{s}」は回文です！")
    else:
        print(f"「{s}」は回文ではないです。")

In [33]:
fruit_prices={"apple":100,"banana":200,"cherry":300}
print(fruit_prices.keys(),fruit_prices.values(),fruit_prices.items())

dict_keys(['apple', 'banana', 'cherry']) dict_values([100, 200, 300]) dict_items([('apple', 100), ('banana', 200), ('cherry', 300)])

In [32]:
fruit_prices={"apple":100,"banana":200,"cherry":300}

del_price=fruit_prices.pop("banana")
del fruit_prices["cherry"]
fruit_prices.clear()

print(fruit_prices,del_price)

{} 200

In [30]:
fruit_prices={"apple":100,"banana":200}
fruit_prices["grape"]=400
fruit_prices["banana"]=180

print(fruit_prices)

{'apple': 100, 'banana': 180, 'grape': 400}

In [29]:
fruit_prices={"apple":100,"banana":200,"cherry":300}
print(fruit_prices["apple"])

100

In [28]:
person = dict(name="Bob", age=30, is_student=True)
pairs = [("apple", 100), ("banana", 200)]
fruit_prices = dict(pairs)

print(person, fruit_prices)

{'name': 'Bob', 'age': 30, 'is_student': True} {'apple': 100, 'banana': 200}

In [27]:
numbers={"one":1,"two":2,"three":3}
person={"name":"Alice","age":25,"is_student":False}
empty_dict={}

print(numbers,person,empty_dict)

{'one': 1, 'two': 2, 'three': 3} {'name': 'Alice', 'age': 25, 'is_student': False} {}

In [25]:
for row in matrix:
    for element in row:
        print(element,end="")
    print()

NameError: name 'matrix' is not defined

In [24]:
numbers=[3,1,4,1,5,9,2]
numbers.sort()
print(numbers)

[1, 1, 2, 3, 4, 5, 9]

In [23]:
numbers=[3,1,4,1,5,9,2]
numbers.sort()
sorted_numbers=sorted(numbers,reverse=True)

print(numbers,sorted_numbers)

[1, 1, 2, 3, 4, 5, 9] [9, 5, 4, 3, 2, 1, 1]

In [22]:
numbers=[1,2,3,2,4,2]
print("2は存在するか:",2 in numbers)
print("2の出現回数:",numbers.count(2))
print("2の最初の位置:",numbers.index(2))

2は存在するか: True
2の出現回数: 3
2の最初の位置: 1

In [20]:
list1=[1,2,3]
list2=[4,5,6]
combined=list1+list2
list1.extend(list2)

print(combined,list1)

[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6]

In [19]:
fruits.append("mango")
fruits.insert(1,"grape")
fruits.extend(["kiwi","pear"])
print(fruits)

['apple', 'grape', 'banana', 'cherry', 'mango', 'kiwi', 'pear']

In [18]:
numbers = [0, 1, 2, 3, 4, 5]
print(numbers[1:3], numbers[:3], numbers[2:], numbers[::-1])

[1, 2] [0, 1, 2] [2, 3, 4, 5] [5, 4, 3, 2, 1, 0]

In [17]:
original=[1,2,3]
copy=original[:]
copy2=list(original)
copy3=original.copy()

print(copy,copy2,copy3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [16]:
none_list=[None]*5
zeros=[0]*10

print(none_list,zeros)

[None, None, None, None, None] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
string_to_list = list("hello")
tuple_to_list = list((1, 2, 3))
range_to_list = list(range(5))

print(string_to_list, tuple_to_list, range_to_list)

['h', 'e', 'l', 'l', 'o'] [1, 2, 3] [0, 1, 2, 3, 4]

In [14]:
numbers=[1,2,3,4,5]
fruits=["apple","banana","cherry"]
mixed=[1,"apple",3.14,True]
empty_list=[]

print(numbers,fruits,mixed,empty_list)

[1, 2, 3, 4, 5] ['apple', 'banana', 'cherry'] [1, 'apple', 3.14, True] []

In [13]:
s="にんてんどううどんてんに"
if s==s[::-1]:
    print(f"「{s}は回文です」")
else:
    print(f"「{s}は回文ではありません」")

「にんてんどううどんてんには回文です」

In [11]:
s="にんてんどううどんてんに"
print(s[::-1])

にんてんどううどんてんに

In [7]:
s="TechAcademy"

if len(s)>10:
    print("長い文字列です")
if len(s)<5:
    print("短い文字列です")
else:
    print(len(s))

長い文字列です
11

In [21]:
s="TechAcademy"
for char in s:
    print(char.upper())

T
E
C
H
A
C
A
D
E
M
Y

In [20]:
s="abcdefghijklmnopqrstuvwxyz"
print(s[0:7])
print(s[-5:])
print(s[::2])

abcdefg
vwxyz
acegikmoqsuwy

In [19]:
try:
    num=int(input("整数を入力してください:"))
    result=100/num
    print(f"100を{num}で割った結果は{result}です")
except ZeroDivisionError:
    print("エラー：0で割ることはできません")
except ValueError:
    print("エラー：整数を入力してください")

エラー：整数を入力してください

In [14]:
score =int(input("点数を入力してください:"))

ValueError: invalid literal for int() with base 10: 'a'

In [13]:
i=0
while True:
    i+=1
    if i>10:
        break
    if i%2==0:
        continue
    print(i)
print("処理を終了します")

1
3
5
7
9
処理を終了します

In [11]:
i=0
while True:
    i+=1
    if i>9:
        break
    print(i)
print("処理を終了します")

1
2
3
4
5
6
7
8
9
処理を終了します

In [9]:
i=0
while i<5:
    i+=1
    print(i)
print("処理を終了します")

1
2
3
4
5
処理を終了します

In [7]:
for i in range (2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
a = 0b1100  # 12
b = 0b1010  # 10
print("a & b:", bin(a & b))  # 0b1000
print("a << 1:", bin(a << 1))  # 0b11000

a & b: 0b1000
a << 1: 0b11000

In [2]:
score=int(input("点数を入力してください："))
if score >= 60:
    print("合格です")
    print("おめでとうございます！")
elif score >=90:
    print("優秀です")
    print("大変よくできました")
else:
   print("不合格です")
   print("もっとがんばりましょう")

print("処理を終了します")

合格です
おめでとうございます！
処理を終了します

In [9]:
x = 15
print("10 < x and x < 20:", 10 < x and x < 20)  # True
print("not (x == 15):", not (x == 15))  # False

10 < x and x < 20: True
not (x == 15): False

In [8]:
x = 150
print("100 < x < 200:", 100 < x < 200)  # True

100 < x < 200: True

In [7]:
x = 150
print(100 < x < 200)  # True

True

In [5]:
text = "Python"
print(text.upper())  # 'PYTHON'
print(text.lower())  # 'python'

PYTHON
python

In [6]:
x = 10
x += 5
print("x += 5:", x)  # 15
x *= 2
print("x *= 2:", x)  # 30

x += 5: 15
x *= 2: 30

In [4]:
print(10 // 3)  # 3

3

In [3]:
print(10 / 3)   # 3.3333333

3.3333333333333335

In [2]:
a = 10
b = -5
c = 0
print(a + b)  # 5

5

In [1]:
# 各科目の点数を変数として定義
japanese = 85  # 国語
math = 90      # 数学
english = 75   # 英語

# 平均点を計算
average = (japanese + math + english) / 3

# 結果を表示
print("3科目の平均点は", average, "点です")

3科目の平均点は 83.33333333333333 点です